# Install PyTorch ROCm separately, for example:
# pip install torch==2.11.0 torchvision==0.26.0 torchaudio==2.11.0 --index-url https://download.pytorch.org/whl/rocm7.2
PyYAML
numpy
pandas
scikit-learn
matplotlib
Pillow
onnx
onnxscript
